config.h*
*.lo
*.la
*.o
*.orig
cscope.out
.deps
.libs
tags
install-sh
libtool
depcomp
config.*
Makefile.in
Makefile
m4/lt*.m4
aclocal.m4
autom4te.cache
compile
configure
missing
stamp-h1
tests/dump_all_icons
tests/list_all_processes
.gitignore
m4/libtool.m4
config.h
ltmain.sh
